{% extends "layout.html" %}

{% block title %}
    Wedstrijdgeschiedenis
{% endblock %}

{% block main %}
<table class="table table-sm table-hover table-striped">
            <thead>
                <tr style="background-color:#44474c; color:white">
                    <th scope="col">Wedstrijd #</th>
                    <th scope="col">speler 1</th>
                    <th scope="col">speler 2</th>
                    <th scope="col">Tijd</th>
                </tr>
            </thead>
            <tbody>
                {% for game in PlayedGames %}
                <tr style="background-color:red; color:white">
                    <th scope="col">{{ game["matchid"] }}</th>
                    <th scope="col">
						{% if game["winnerid"] == game["idplayerone"] %}
						<img src="static/images/crown.png" alt="crown" height="20" width="20">
                		{% endif %}
                		{{ game["playone"] }}
						</th>
                    <th scope="col">
						{% if game["winnerid"] == game["idplayertwo"] %}
                		<img src="static/images/crown.png" alt="crown" height="20" width="20">
                		{% endif %}
                		{{ game["playtwo"] }}
					</th>
                    <th scope="col">{{ game["time"] }}</th>
                </tr>
                <tr>
                <td>Set 1</td>
                <td>{{ game["p1s1"] }}</td>
                <td>{{ game["p2s1"] }}</td>
                <td></td>
                </tr>
				<tr>
                <td>Set 2</td>
                <td>{{ game["p1s2"] }}</td>
                <td>{{ game["p2s2"] }}</td>
                <td></td>
                </tr>
				<tr>
                <td>Set 3</td>
                <td>{{ game["p1s3"] }}</td>
                <td>{{ game["p2s3"] }}</td>
                <td></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
{% endblock %}
