{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <h2> Welkom {{ userinfo["username"] }} </h2>
        <h1>Klassement</h1>

        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">positie</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Gewonnen</th>
                    <th scope="col">Verloren</th>
                    <th scope="col">Odds</th>
                    <th scope="col">cash</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in ranking %}
                <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/user/<{{ rank["id"] }}>">{{ rank["username"] }}</a></td>
                <td>{{ rank["won"] }}</td>
                <td>{{ rank["lost"] }}</td>
                <td>{{ rank["odds"] }}</td>
                <td>{{ rank["cash"] }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock %}
