{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <h2> Welkom <b>{{ userinfo[0]["username"] }} </b></h2>
        {% if session.active == 0 %}
        <h1>Je bent niet ingeschreven, klik <a href="/activate"><b>HIER<b></a> om je in te schrijven.</h1></br>
        {% endif %}
          </br>
        <h1>Klassement</h1>

        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">positie</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Gewonnen</th>
                    <th scope="col">Verloren</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in ranking %}
                <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/user/{{ rank["id"] }}">{{ rank["username"] }}</a></td>
                <td>{{ rank["won"] }}</td>
                <td>{{ rank["lost"] }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock %}
