{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <h2> Welkom <b>{{ username[0]["username"] }} </b></h2>
        </br>
        </br>
        {% if session.active == 0 %}
        <h1>Je bent niet ingeschreven, klik <a href="/activate"><b>HIER<b></a> om je in te schrijven.</h1></br>
        {% endif %}
        <table>
        <tr><td style="width: 80%; padding: 50px;">

        </br>
        <h1>Klassement</h1>

        <table class="table table-sm table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">positie</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Gewonnen</th>
                    <th scope="col">Verloren</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ranking %}
                <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/user/{{ user["id"] }}">{{ user["username"] }}</a></td>
                <td>{{ user["won"] }}</td>
                <td>{{ user["lost"] }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        </td>
        <td style="width: 20%">
        <div class="card" style="width: 200px; margin: auto;">
        <h5 class="card-header">Jochen van de week!</h5>
        <div class="card-image">
        <img src="/static/images/0.jpeg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."></div>
        <p class="card-text">Gefelicteerd Jochen, deze week word jij in de bloemetjes gezet. Geniet er van!</p>
        </div>
        </td>
        </tr>
        </table>
{% endblock %}
