{% extends "layout.html" %}

{% block title %}
    Wedstrijd invoeren
{% endblock %}

{% block main %}
    <h1 style="margin-left:auto;margin-right:auto">Voer hier de resultaten in</h1>
    <a>Selecteer een wedstrijd</a>
    <br>
    <form action="/input" method="post">
        <div class="form-group">
        <select class="custom-select" name="match">
                {% for game in UnplayedGames %}
                      <option value="{{game["matchid"]}}">{{game["playone"]}} VS {{game["playtwo"]}}</option>
                {% endfor %}
        </select>
        </div>
        <table align="center">
        <tr><th colspan="2"><h3>Set 1</h3></th></tr>
        <tr><td>
        <div class="form-group">
            speler 1*<br>
            <input class="form-control" name="p1s1" type="number" min="0" value="0">
        </div>
        </td>
        <td>
        <div class="form-group">
            speler 2*<br>
            <input class="form-control" name="p2s1" type="number" min="0" value="0">
        </div>
        </td></tr>
        <tr><th colspan="2"><h3>Set 2</h3></th></tr>
        <tr><td>
        <div class="form-group">
            speler 1*<br>
            <input class="form-control" name="p1s2" type="number" min="0" value="0">
        </div>
        </td>
        <td>
        <div class="form-group">
            speler 2*<br>
            <input class="form-control" name="p2s2" type="number" min="0" value="0">
        </div>
        </td></tr>
        <tr><th colspan="2"><h3>Set 3(optioneel)</h3></th></tr>
        <tr><td>
        <div class="form-group">
            speler 1<br>
            <input class="form-control" name="p1s3" type="number" placeholder="optioneel" min="0" value="0">
        </div>
        </td>
        <td>
        <div class="form-group">
            speler 2<br>
            <input class="form-control" name="p2s3" type="number" placeholder="optioneel" min="0" value="0">
        </div>
        </td></tr>
        </table>
        <button class="btn btn-danger" type="submit">Invoeren</button>
    </form>
{% endblock %}
