{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Gebruikersnaam" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Wachtwoord" type="password">
        </div>
        <button class="btn btn-danger" type="submit">Verzend</button>
    </form>
{% endblock %}
