{% extends "layout.html" %}

{% block title %}
    {{ userinfo["username"] }}
{% endblock %}

{% block main %}
<h2>{{ userinfo[0]["username"] }} </h1></br>
<h4>Gewonnen :{{ userinfo[0]["won"] }}</br>
    Verloren: {{ userinfo[0]["lost"] }}</br>
    </h2>
    </br>
<table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Wedstrijd #</th>
                    <th scope="col">speler 1</th>
                    <th scope="col">speler 2</th>
                    <th scope="col">Tijd</th>
                </tr>
            </thead>
            <tbody>
                {% for game in userhistory %}
                <tr>
                <td>{{ game["matchid"] }}</td>

                <td>
                {% if game["winnerid"] == game["idplayerone"] %}
        		<img src="/static/images/crown.png" alt="crown" height="20" width="20">
                {% endif %}
                {{ game["playone"] }}
                </td>
                <td>
                {% if game["winnerid"] == game["idplayertwo"] %}
                <img src="/static/images/crown.png" alt="crown" height="20" width="20">
                {% endif %}
                {{ game["playtwo"] }}
                </td>
                <td>{{ game["time"] }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
{% endblock %}
